section.banner#banner
	img(src="https://cfl.dropboxstatic.com/static/images/business/homepage/background--pc--female-vfl1oeEA8.jpg")
	.wrapper
		.text_collaborate Collaborate faster and more securely
		.text_business Boost business productivity with the ultimate file saving and sharing tool that employees love and IT admins trust
		button(id="button") Try free for 30 days
		.text_or or
			a(href="//dropbox.com/business/buy") purchase now