footer#footer-apple
    .footer-wrapper
        nav.footer-wrapper-nav(aria-label='Apple Directory', role='navigation')
            .footer-wrapper-column
                .footer-wrapper-column-section
                label.footer-wrapper-column-section-label(for='ac-gf-directory-column-section-state-products')
                    h3.footer-wrapper-column-section-title Shop and Learn
                a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-open(href='#ac-gf-directory-column-section-state-products')
                
                a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-close(href='#')
               
                ul.footer-wrapper-column-section-list
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/mac/') Mac
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/ipad/') iPad
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/iphone/') iPhone
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/watch/') Watch
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/tv/') TV
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/music/') Music
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/itunes/') iTunes
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/ipod/') iPod
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/us/shop/goto/buy_accessories') Accessories
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/us/shop/goto/giftcards') Gift Cards
            .footer-wrapper-column
                .footer-wrapper-column-section
                label.footer-wrapper-column-section-label(for='ac-gf-directory-column-section-state-storeservices')
                    h3.footer-wrapper-column-section-title Apple Store
                a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-open(href='#ac-gf-directory-column-section-state-storeservices')
                
                a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-close(href='#')
               
                ul.footer-wrapper-column-section-list
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/retail/') Find a Store
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/retail/geniusbar/') Genius Bar
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/retail/learn/') Workshops and Learning
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/retail/learn/youth/') Youth Programs
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='https://itunes.apple.com/app/apple-store/id375380948?mt=8') Apple Store App
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/us/shop/goto/special_deals') Refurbished
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/us/shop/goto/payment_plan') Financing
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/us/shop/goto/reuse_and_recycle') Reuse and Recycling
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/us/shop/goto/account') Order Status
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/us/shop/goto/help') Shopping Help
            .footer-wrapper-column
                .footer-wrapper-column-section
                label.footer-wrapper-column-section-label(for='ac-gf-directory-column-section-state-education')
                    h3.footer-wrapper-column-section-title For Education
                a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-open(href='#ac-gf-directory-    column-section-state-education')
                
                a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-close(href='#')
               
                ul.footer-wrapper-column-section-list
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/education/') Apple and Education
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/us/shop/goto/educationrouting') Shop for College
                .footer-wrapper-column-section
                label.footer-wrapper-column-section-label(for='ac-gf-directory-column-section-state-business')
                    h3.footer-wrapper-column-section-title For Business
                a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-open(href='#ac-gf-directory-    column-section-state-business')
                
                a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-close(href='#')
               
                ul.footer-wrapper-column-section-list
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/business/') Apple and Business
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/retail/business/') Shop for Business
            .footer-wrapper-column
                .footer-wrapper-column-section
                label.footer-wrapper-column-section-label(for='ac-gf-directory-column-section-state-accounts')
                    h3.footer-wrapper-column-section-title Account
                a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-open(href='#ac-gf-directory-    column-section-state-accounts')
                
                a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-close(href='#')
               
                ul.footer-wrapper-column-section-list
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='https://appleid.apple.com/us/') Manage Your Apple ID
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/us/shop/goto/account') Apple Store Account
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='https://www.icloud.com') iCloud.com
                        .footer-wrapper-column-section
                label.footer-wrapper-column-section-label(for='ac-gf-directory-column-section-state-responsibility')
                    h3.footer-wrapper-column-section-title Apple Values
                a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-open(href='#ac-gf-directory-    column-section-state-responsibility')
                
                a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-close(href='#')
               
                ul.footer-wrapper-column-section-list
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/accessibility/') Accessibility
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/education/connectED/') Education
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/environment/') Environment
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/diversity/') Inclusion and Diversity
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/privacy/') Privacy
                    li.footer-wrapper-column-section-item
                        a.footer-wrapper-column-section-link(href='/supplier-responsibility/') Supplier Responsibility
            .footer-wrapper-column
                oter-wrapper-column-section
                    label.footer-wrapper-column-section-label(for='ac-gf-directory-column-section-state-about')
                        h3.footer-wrapper-column-section-title About Apple
                    a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-open(href='#ac-gf-directory-column-section-state-about')
                    
                    a.footer-wrapper-column-section-anchor.footer-wrapper-column-section-anchor-close(href='#')
                   
                    ul.footer-wrapper-column-section-list
                        li.footer-wrapper-column-section-item
                            a.footer-wrapper-column-section-link(href='/about/') Apple Info
                        li.footer-wrapper-column-section-item
                            a.footer-wrapper-column-section-link(href='/newsroom/') Newsroom
                        li.footer-wrapper-column-section-item
                            a.footer-wrapper-column-section-link(href='http://www.apple.com/jobs/us/') Job Opportunities
                        li.footer-wrapper-column-section-item
                            a.footer-wrapper-column-section-link(href='/pr/') Press Info
                        li.footer-wrapper-column-section-item
                            a.footer-wrapper-column-section-link(href='http://investor.apple.com') Investors
                        li.footer-wrapper-column-section-item
                            a.footer-wrapper-column-section-link(href='/apple-events/') Events
                        li.footer-wrapper-column-section-item
                            a.footer-wrapper-column-section-link(href='/contact/') Contact Apple
        section.info-footer
            .info-footer-shop
                | More ways to shop: Visit an
                a(href='/retail/') Apple Store
                | ,
                span.nowrap
                    | call 1-800-MY-APPLE, or
                    a(href='https://locate.apple.com/') find a reseller
                | .
            .info-footer-locale
                a.info-footer-locale-link(href='/choose-your-country/', title='Choose your country or region', aria-label='United States. Choose your country or region')
                    span.info-footer-locale-flag(data-hires='false')
                    | United States
            .info-footer-legal
                .info-footer-legal-copyright Copyright © 2016 Apple Inc. All rights reserved.
                .info-footer-legal-links
                    a.info-footer-legal-link(href='/privacy/privacy-policy/') Privacy Policy
                    a.info-footer-legal-link(href='/legal/internet-services/terms/site.html') Terms of Use
                    a.info-footer-legal-link(href='/us/shop/goto/help/sales_refunds') Sales and Refunds
                    a.info-footer-legal-link(href='/legal/') Legal
                    a.info-footer-legal-link(href='/sitemap/') Site Map