navbar.header-menu#header-menu
	a.logo(href="/")
		img(src="//assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png")
	.dropdown-wrapper
		a.trigger-dropdown Store
		.dropdown-content
			ul
				li.dropdown-link
					a Home Page
				li.dropdown-link
					a.trigger-dropdown-hover Office
					.dropdown-content
						ul
							li.dropdown-link
								a Home Page
							li.dropdown-link
								a Office
							li.dropdown-link
								a Windows
							li.dropdown-link
								a Home Page
							li.dropdown-link
								a Office
							li.dropdown-link
								a Windows
							li.dropdown-link
								a Windows

				li.dropdown-link
					a.trigger-dropdown-hover Windows
					.dropdown-content
						ul
							li.dropdown-link
								a Home Page
							li.dropdown-link
								a Office
	.dropdown-wrapper
		a.trigger-dropdown Store
		.dropdown-content
			ul
				li.dropdown-link
					a Home Page
				li.dropdown-link
					a.trigger-dropdown-hover Office
					.dropdown-content
						ul
							li.dropdown-link
								a Home Page
							li.dropdown-link
								a Office
							li.dropdown-link
								a Windows
							li.dropdown-link
								a Home Page
							li.dropdown-link
								a Office
							li.dropdown-link
								a Windows
							li.dropdown-link
								a Windows

				li.dropdown-link
					a.trigger-dropdown-hover Windows
					.dropdown-content
						ul
							li.dropdown-link
								a Home Page
							li.dropdown-link
								a Office
	a(href="/") Support
	input#mssearch.search(type="text" placeholder="search")
	a.login(href="#special") Login