section.special#special
	.sector_one
		a(href="//www3.oculus.com/en-us/rift/#eve-valkyrie")
			.text
				p Featured content
				p EVE: Valkyrie
			img(src="//scontent.oculuscdn.com/t64.5771-25/11162714_283652092025521_547216123_n.jpg/eve-valkyrie.jpg")
	.sector_two
		a(href="//www3.oculus.com/en-us/rift/#luckys-tale")
			.text
				p Included with all rift purchases
				p Lucky's Tale
			img(src="//scontent.oculuscdn.com/t64.5771-25/12504834_1610504179262797_1233001088_n.jpg/luckys-tale.jpg")
	.sector_three
		a(href="//www3.oculus.com/en-us/blog/announcing-oculus-connect-3-and-rift-availability-update/")
			.text
				p Featured story
				p Announcing Oculus Connect 3 and Rift Availability Update
			img(src="//scontent.oculuscdn.com/t64.5771-25/12680264_165436440535334_659901318_n.jpg/oc3-stage-image.jpg")