section#subscribe
	.title-section Join over 2 million designers already using InVision. Get InVision #[span free] forever!
	form#form-subscribe(method = "post")
		.form-field-wrapper
			.form-field
				label(for="username")
				.ico-user
				input(type="text", id="username", name="username", placeholder="Your Name", class="decor")
			.form-field
				label(for="email")
				.ico-email
				input(type="email", id="email", name="email", placeholder="Email Address", class="decor")
			.form-field
				label(for="password")
				.ico-password
				input(type="password", id="password", name="password", placeholder="Create a Password", class="decor")
			.form-field
				input(type="submit", id="get_started", value="Get started - Free forever!")
	.title-section-footer By clicking "Get Started — Free Forever!" I agree to InVision's 
		a(href="//invisionapp.com/terms") Terms of Service.